{% extends 'base.html.twig' %}

{% block title %}Réservation n° {{booking.id}}{% endblock %}

{% block body %}
<div class="container mt-3">
    <h1>Votre réservation n° {{booking.id}}</h1>

    {% if app.request.query.get('withAlert') %}
        <div class="alert alert-success">
            <h4 class="alert-heading">Bravo!</h4>
            <p>Votre réservation auprès de 
            <strong>
                <a href="{{path("user_show", {'slug' : booking.ad.author.slug})}}">{{booking.ad.author.fullName}}</a>
            </strong>
            pour l'annonce
              <strong>
                <a href="{{path("ads_show", {'slug' : booking.ad.slug})}}">{{booking.ad.title}}</a>
            </strong>
            a bien été prise en compte.
            </p>
        </div>
    {% endif %}

    <div class="row">
        <div class="col">
            <div class="alert alert-light">
                <h2>Détails</h2>
                <dl class="row">
                    <dt class="col-md-4">Numero</dt>
                    <dd class="col-md-8">{{booking.id}}</dd>
                    <dt class="col-md-4">Date d'arrivée</dt>
                    <dd class="col-md-8">{{booking.startDate | date('d/m/Y')}}</dd>
                    <dt class="col-md-4">Date de départ</dt>
                    <dd class="col-md-8">{{booking.endDate | date('d/m/Y')}}</dd>
                    <dt class="col-md-4">Nombre de nuits</dt>
                    <dd class="col-md-8">{{booking.duration}}</dd>
                    <dt class="col-md-4">Montant total</dt>
                    <dd class="col-md-8">{{booking.amount}}&euro;</dd>
                    <dt class="col-md-4">Commentaire</dt>
                    <dd class="col-md-8">{{booking.comment}}</dd>
                </dl>

                <hr>

                <h2 class="alert-heading">Votre hôte</h2>
                <div class="row">
                    <div class="col-3">
                        <img src="{{booking.ad.author.picture}}" alt="Avatar de  {{booking.ad.author.fullName}}" class='avatar avatar-md'>
                    </div>
                    <div class="col">
                        <h4>
                            <a href="{{path("user_show", {'slug' : booking.ad.author.slug})}}"> {{booking.ad.author.fullName}}</a>
                        </h4>
                        <span class="badge badge-primary"> {{booking.ad.author.ads | length}}annonces</span>
                    </div>
                </div>
                {{booking.ad.author.description | raw}}

                <a href="{{path("user_show", {'slug' : booking.ad.author.slug})}}" class="btn btn-info"> En savoir plus sur {{booking.ad.author.firstName}}</a>

            </div>
        </div>
        <div class="col">
            <div class="alert alert-light">
                <h2 class="alert-heading">Votre hébergement</h2>
                <h4>
                    <a href="{{path("ads_show", {'slug' : booking.ad.slug})}}²">{{booking.ad.title}}</a>

                </h4>
                <img src="{{booking.ad.coverImage}}" alt="Image de {{booking.ad.title}}" class="img-fluid">
                {{booking.ad.content}}

                <a href="{{path("ads_show", {'slug' : booking.ad.slug})}}" class="btn btn-info"> Plus d'informations</a>

            </div>
        </div>
    </div>
</div>

{% endblock %}
