{% set url = path('ads_show',{'slug':ad.slug}) %}
                        <div class="col-md-4">
                            <div class="card bg-light mb-3">
                                <div class="card-header text-center">
                                    {{ ad.rooms }} chambres, <strong>{{ad.price}}&euro; / nuit</strong><br>
                                    <small>Pas encore noté</small>
                                </div>
                                <a href="{{ url }}">
                                    <img src="{{ ad.coverImage }}" alt="Image de l'appart" style='height:200px; width:100%;display:block'>
                                </a>
                                <div class="card-body">
                                    <a href="{{ url }}">
                                        <h4 class="card-title text-decoration-none">{{ad.title}}</h4>
                                    </a>
                                    <p class="card-text">{{ad.introduction}}</p>
                                </div>
                                <a href="{{ url }}"class='btn btn-secondary'>En savoir plus</a>
                                {% if ad.author == app.user %}
                                    <a href="{{ path('ads_edit',{'slug': ad.slug}) }}" class="btn btn-info mt-3 ">Modifier mon annonce !</a>
                                    <a href="{{ path('ads_delete',{'slug': ad.slug}) }}" class="btn btn-danger mt-3" onclick="return confirm(`Etes vous sure de vouloir supprimer cette annonce ?`)">Supprimer mon annonce !</a>
                                {% endif %}
                                
                            </div>
                        </div>
                        